<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Car Brands Directory</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <div
      class="container d-flex align-items-center justify-content-center mt-3"
    >
      <div class="card" style="width: 68rem">
        <div class="card-body">
          <form class="form-inline mx-auto">
            <label class="mr-2">Add Your Vehicle</label>
            <div class="form-group mx-auto">
              <input
                type="text"
                class="form-control"
                id="brandname"
                name="brandname"
                placeholder="Brand Name"
                [(ngModel)]="brandname"
              />
            </div>
            <div class="form-group mx-auto">
              <input
                type="text"
                class="form-control"
                id="carmodel"
                name="carmodel"
                placeholder="Car Model"
                [(ngModel)]="carmodel"
              />
            </div>
            <div class="form-group mx-auto">
              <input
                type="text"
                class="form-control"
                id="description"
                name="description"
                placeholder="Desription"
                [(ngModel)]="description"
              />
            </div>
            <button
              type="button"
              class="btn btn-primary ml-2"
              (click)="onAddCar()"
            >
              Add Car
            </button>
          </form>
        </div>
      </div>
    </div>
    <div
      class="container d-flex align-items-center justify-content-center mt-2"
    >
      <div class="card" style="width: 68rem">
        <div class="card-body">
          <table
            class="table table-striped table-bordered table-sm row-border hover"
            id="datatableexample"
            *ngIf="car_array"
          >
            <thead>
              <tr>
                <th>Car Brand</th>
                <th>Model</th>
                <th>Description</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let items_value of car_array; let i = index">
                <td>{{ items_value.name }}</td>
                <td>{{ items_value.model }}</td>
                <td>{{ items_value.description }}</td>
                <td>
                  <ul class="list-unstyled">
                    <li>
                      <mat-icon (click)="onDeleteCar(i)">delete</mat-icon>
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
